<%= content_for(:navbar_class, "navbar-transparent") %>

<div class="banner-small" style="background-image: url(<%= cl_image_@landmark.photo.key %>)">
  <div class="banner-container-small">
    <h2><%= @landmark.title %></h2>
  </div>
</div>

<div class="audio-display">
  <audio src="<%=cloudinary_url(@landmark.audio.key, :resource_type=>"video")%>" controls></audio>
</div>

<div class="show-text">
  <p><%= @landmark.description %></p>
  <h6><strong>Created by <%= @landmark.creator.email %></strong></h6>
</div>

<p>
  <% if @next_order_number == 6 %>
      <a class="btn btn-gradient" href="<%= user_path(current_user)%>">Finish Your Walk</a>
  <% else %>
      <a class="btn btn-gradient" href=<%="/walks/#{@walk.id}/#{@next_order_number}" %>>Next Landmark</a>
  <% end %>
</p>

<p>
  <a class="btn btn-gradient" href="<%= walk_path(@walk)%>">Back <%= @walk.title %></a>
</p>
