<h1> <%= @landmark.title %> </h1>

<div>
  <%= cl_image_tag(@landmark.photo.key) %>
</div>
<div>
</div>

<p>
  <% if @next_order_number == 6 %>
    <%=link_to user_path(current_user) do%>
      Finish Your Walk
    <% end %>
  <% else %>
    <%=link_to "/walks/#{@walk.id}/#{@next_order_number}" do%>
      Navigate to Next Landmark
    <% end %>
  <% end %>
</p>

<p>
  <%=link_to walk_path(@walk) do%>
    Back to Walk: <%= @walk.title %>
  <% end %>
</p>
