<h1> <%= @landmark.title %> </h1>

<div>
  <%= cl_image_tag(@landmark.photo.key) %>
</div>
<div>
  <audio src="<%=cloudinary_url(@landmark.audio.key, :resource_type=>"video")%>" controls></audio>
</div>

<p>
  <%=link_to "/walks/#{@walk.id}/#{@next_order_number}" do%>
    Navigate to Next Landmark
  <% end %>
</p>

<p>
  <%=link_to walk_path(@walk) do%>
    Back to Walk: <%= @walk.title %>
  <% end %>
</p>
