<% @map_api_url%>
<% ENV['MAPBOX_API_KEY'] %>

<%# Below is added to reload faulty nav map for first landmark only %>
<% if @landmark_order_no === "1" %>
  <%= javascript_tag do %>
    if(!window.location.hash) {
      //setting window location
      window.location = window.location + '#1';
      //using reload() method to reload web page
      window.location.reload();
      }
  <% end %>
<% end %>

<div>
  <div class="map_container">
    <button type="button" class="btn bg-light btn-sm" id="nav_btn"><i class="fas fa-directions text-secondary"></i></button>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-need-user-marker="true"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<div class="card-super-container">
  <div class="card-walk">
    <%= cl_image_tag(@landmark.photo.key) %>
    <div class="card-walk-infos">
      <div class="card-group-top">
        <h2><%= @landmark.title %></h2>
        <p>
          <% @walk.rating.to_i.times do  %>
            <span class="fas fa-star"></span>
          <% end %>
          <% @walk.blank_stars.times do %>
            <span class="far fa-star"></span>
            <% end %>
        </p>
        <% if @landmark.prearrival_audio.attached?%>
          <div>
            <p>Listen to the introduction:</p>
            <audio style="width: 230px; height:30px;" src="<%=cloudinary_url(@landmark.prearrival_audio.key, :resource_type=>"video")%>" controls></audio>
          </div>
        <%end %>
      </div>
    </div>
  </div>
</div>

<div class="icon-container">
  <div class="icon-buttons">
    <div>
      <a class="fas fa-clipboard-list" href="<%= walk_path(@walk) %>"></a>
      <p>Back to <%= @walk.title %></p>
    </div>
  </div>
  <div class="icon-buttons">
    <div>
      <a class="fas fa-shoe-prints" href="<%= walk_landmark_path(@walk, @landmark) %>"></a>
      <p>I have arrived!</p>
    </div>
  </div>
</div>
