<h1> Navigate to: <%= @landmark.title %> </h1>

<div>
  <audio src="<%=cloudinary_url(@landmark.prearrival_audio.key, :resource_type=>"video")%>" controls></audio>
</div>

<p>
  <%=link_to walk_landmark_path(@walk, @landmark) do%>
    I've Arrived at: <%= @landmark.title %>
  <% end %>
</p>


<p>
  <%=link_to walk_path(@walk) do%>
    Take me back to walk page
  <% end %>
</p>
