<% @map_api_url%>
<% ENV['MAPBOX_API_KEY'] %>
<div>
  <div class="map_container">
    <button type="button" class="btn bg-light btn-sm" id="nav_btn"><i class="fas fa-directions text-secondary"></i></button>
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-need-user-marker="true"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>


  <% if @landmark.prearrival_audio.attached?%>
  <div>

    <p>Listen to the introduction:</p>
    <audio src="<%=cloudinary_url(@landmark.prearrival_audio.key, :resource_type=>"video")%>" controls></audio>
  </div>
  <%end%>

<p>
  <a class="btn btn-gradient" href= "<%= walk_landmark_path(@walk, @landmark) %>">I have arrived!</a>
</p>

<p>
  <a class="btn btn-gradient" href="<%= walks_path %>">Back to <%= @walk.title %></a>
</p>
