<%= content_for(:navbar_class, "navbar-transparent") %>

<div class="banner-small" style="background-image: url(https://madridfoodtour.com/wp-content/uploads/retiro-overhead-U-scaled.jpeg);">
  <div class="banner-container-small">
    <h2><%= @walk.title %></h2>
  </div>
</div>

<div class="show-text">
  <h6><strong>Created by Micky Mouce</strong></h6>
  <p>This walk is awesome. I will walk you through Retiro park and show you some of my favorite places!</p>
</div>

<div id="map"
     style="width: 100%; height: 30vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="show-text">
  <h6><strong>This walk includes:</strong></h6>
</div>

<% @walk.walk_landmarks.order(landmark_order_no: :asc).each do |walk_landmark| %>
  <%= link_to walk_landmark_path(@walk, walk_landmark.landmark) do %>
    <div class="card-walk">
      <%= cl_image_tag(walk_landmark.landmark.photo.key) %>
      <div class="card-walk-infos">
        <div class="card-group-top">
          <h2><%= walk_landmark.landmark_order_no%>. <%= walk_landmark.landmark.title %></h2>
          <p><i class="fas fa-star"></i>4.0</p>
        </div>
        <div class="card-group-bottom">
          <div class="text-left">
            <p>Creater</p>
          </div>
          <div class="text-right">
            <p>Distance</p>
            <p>Time</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<p>
  <%= link_to "/walks/#{@walk.id}/1" do%>
    <a class="btn btn-gradient" href=<%="/walks/#{@walk.id}/1"%>>Start Walk!</a>
  <% end %>
</p>

<p>
  <%=link_to walks_path do%>
    <a class="btn btn-gradient" href="#">Back to <%= @walk.title %></a>
  <% end %>
</p>
