<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="assets/noun_stick_80345.png">
    <title>Walking Stick - Walking Tours Reimaged!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>

  </head>

  <body>
    <%= render 'shared/flashes' %>

    <div class="page-container">
      <%= yield %>
    </div>

    <%= render 'shared/navbar' %>
  </body>
</html>
